@font-face {
  font-family: 'Climate Crisis KR';
  src: url("../assets/fonts/ClimateCrisisKRVF.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Light.woff') format('woff');
  font-weight: 300; 
}