body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#top{
  width:450px;
  height: 873px;
}

#root {
  display: flex;
  width: 100%; 
  max-width: 430px; 
  min-height: 873px;
  margin: 0 auto; 
  background-color: #FFFFFF; 
  position: relative; 
}

.screen {
  display: flex;
  flex-direction: column;
  width: 100%; 
  gap: 0.625rem; 
}

@media (max-width: 430px) {
  .screen {
    align-items: flex-start;
  }
}

@media (min-width: 431px) {
  .screen {
    align-items: center; 
  }
}

